<h3 style="text-align: center; color: #3F51B5" *ngIf="isAvailable()">
  Good news! Looks like this car is available!
  Book now for {{price}}?
  <div>
  <button mat-button color="accent"> Yes!</button>
  <button mat-button color="accent" (click)="onTakeBack()">Nah, take me back</button>
  </div>
</h3>
<h3 style="text-align: center; color: #3F51B5" *ngIf="!isAvailable()">
  Whoops, looks like that's not available!
  Try another one?
  <div>
  <button mat-button color="accent" (click)="onTakeBack()">Yes, take me back</button>
  </div>
</h3>
