<div style="text-align:center">
  <h1 style="color: #3F51B5">
    Welcome to our car rental service!
  </h1>
</div>
<mat-grid-list cols = '2' rowHeight="30%">
  <mat-grid-tile>
    <mat-form-field floatLabel="auto">
      <mat-label>Start date</mat-label>
      <input matInput [matDatepicker]="picker1" required [value] = "startDate" (dateChange)="onStartDateChanged($event.value)">
      <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field floatLabel="auto">
      <mat-label>End date</mat-label>
      <input matInput [matDatepicker]="picker2" required [value] = "endDate" (dateChange)="onEndDateChanged($event.value)">
      <mat-datepicker-toggle [for]="picker2" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Car</mat-label>
      <select matNativeControl required [(ngModel)]="car">
        <option value="Volvo">Volvo</option>
        <option value="Saab">Saab</option>
        <option value="Mercedes">Mercedes</option>
        <option value="Audi">Audi</option>
      </select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Rental office</mat-label>
      <select matNativeControl required [(ngModel)]="rentalOffice">
        <option value="Timisoara Centru">Timisoara Centru</option>
        <option value="Timisoara Lipovei">Timisoara Lipovei</option>
        <option value="Bucuresti Afi">Bucuresti Afi</option>
        <option value="Cluj Piezisa">Cluj Piezisa</option>
      </select>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>
<div style="text-align:center">
  <button mat-button color="accent" (click)="onClick()">Find a car for me!</button>
</div>

