<div *ngIf="isListNotEmpty()">
<mat-grid-list cols="2">
  <mat-grid-tile *ngFor="let car of filteredCars">
<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{car.model}}</mat-card-title>
    <mat-card-subtitle>{{car.brand}}</mat-card-subtitle>
  </mat-card-header>
 <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onClickLike(car)">I like this!</button>
  </mat-card-actions>
</mat-card>
    </mat-grid-tile>
</mat-grid-list>
</div>
<div style="text-align: center; color: #3F51B5" *ngIf="!isListNotEmpty()">
  <h3>Looks like we found nothing...try something else?</h3>
  <div>
    <button mat-button color="accent" (click)="onClickTakeBack()">Sure!</button>
  </div>
</div>
